.mat-drawer-container {
    width: 100%;
    min-height: calc(100vh - 105px);
  
    .left-panel {
      padding: 10px;
      width: 23%;
    }
  
    .right-panel {
      width:23%;
    }
  
    .content-panel {
      width: auto;
      height: 83vh;
      
    }
    .Header{
        height: 35px;
        padding-top: 5px;
        border-width: 10px
    }
    .search{
        width: 120px;
        height: 20px;
        margin-bottom: 2px;
        margin-left: 30px;
        
    }
    .NameChat{
        background-color:white;
        height: 60px;
        // padding-top: 5px;
        border-color: black;
        border-width: 30px;
    }
      .app-logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
        border-color: black;
      }
      .Pikachu{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // margin-bottom: 5px;
       
      }
      .userlogo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 30px;
        // margin-left: 80px;
        
      }
      .date{
          font-size: 14px;
          color:dimgray
      }
      .chat{
        font-size: 14px;
        color:dimgray
      }
      .example-icon{
          text-align: left;
      }
      .toolbar{
        height: 40px;
        background-color: white;
      }
      
      .lasttext{
          font-size: 10px;
          margin-top: 40px;
          margin-left: 20px;

      }
      
      .contactName{
        text-align: center;
      }
      .searchcontent{
        width: 120px;
        height: 10px;
        font-size: 10px;
        margin-bottom: 32px;
        margin-left: 20px ;
      
      }
      .followup{
        margin-left: 50px ;
      }
      .reslove{
        margin-left: 20px;
      }

      .note{
        font-size: 12px;
        color: dimgrey;
      }
      .left-chat{
        padding: 10px;
        max-width: 52vh;
        background-color: darkgray;
        word-wrap: break-word !important;
        height: auto;
        border-radius: 15px;
        margin-left: 5px;
      }

      .right-chat{
        padding: 10px;
        max-width: 50vh;
        background-color:#4CBB17 ;
        word-wrap: break-word !important;
        height: auto;
        border-radius: 15px;


      
      }
      .toolbar-content{
        position:sticky;
        top:0 !important;
      }
      .chatzone{
        margin-top:60px;
        // position:static;
      }
      .addtage{
        font-size: 13px;
        color: #4CBB17;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
      }

      .leftchat-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .toolbar-send{
        position:sticky;
        bottom:0 !important;
        height: auto;
        font-size:15px ;
        background-color: white;
      }
      .send{
        padding-left: 10px;
        padding-right: 10px;
        
      }
  }
  
  