.mat-drawer-container {
    width: 100%;
    min-height: calc(100vh - 105px);
  
    .left-panel {
      padding: 10px;
      width: 20%;
    }
  
    .right-panel {
      width:30%;
    }
  
    .content-panel {
      width: 80%;
    }
  }
  