<mat-drawer-container>
    <mat-drawer class="left-panel" mode="side" opened="true" position="start">
        <mat-toolbar class="toolbar">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
                <span>ALL</span>
                <mat-icon matPrefix style="padding-left: 70px;">search</mat-icon>
                <input class="search" appearance="outline" matInput type="search" placeholder="ค้นหา">
                <!-- <mat-form-field class="search" appearance="outline">
                    <input matInput placeholder="ค้นหา">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field> -->
            </button>
        </mat-toolbar>
        <hr>
        <div *ngFor="let item of data" class="NameChat" fxLayout="column" (click)="toggle(true)">
            <div class="date" fxFlexAlign="end" *ngIf="drawerevnt">{{item.chatDate}}</div>
            <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="20">
                    <img class="app-logo" src={{item.contactImg}}>
                </div>
                <div fxLayout="column" fxLayoutAlign="start" fxFlex="80">
                    <div>
                        <strong>
                            {{item.contactName}}
                        </strong>
                    </div>
                    <div class="chat" fxFlexAlign="start">{{item.chat}}</div>
                </div>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="content-panel">
        <mat-toolbar class="toolbar-content">
            <div fxFill fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                    <img class="Pikachu"
                        src="https://i.guim.co.uk/img/media/dd703cd39013271a45bc199fae6aa1ddad72faaf/0_0_2000_1200/master/2000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=178a9434c272d5a067353f57a30f58ed"
                        alt=""> &nbsp;&nbsp;
                    <span>pikachu</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="followup" mat-stroked-button>
                        <mat-icon>
                            chat
                        </mat-icon> &nbsp;Follow up
                    </button>&nbsp;

                    <button class="reslove" mat-stroked-button>
                        <mat-icon>
                            mark_chat_read
                        </mat-icon> &nbsp;Resolve
                    </button>&nbsp;

                    <mat-form-field class="searchcontent" appearance="outline">
                        <mat-icon matSuffix>search</mat-icon>
                        <input matInput placeholder="ค้นหา">
                    </mat-form-field>

                </div>
            </div>
        </mat-toolbar>
        <div class="chatzone">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                <mat-card class="left-chat">สวัสดี</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around end">
                <mat-card class="right-chat">ว่าไง ?</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around start">
                <mat-card class="left-chat">ทำอะไรอยู่ ?</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around end">
                <mat-card class="right-chat">กำลังเร่งผลิตครีมสูตรใหม่</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around start">
                <mat-card class="left-chat">ตอนนี้อยู่ในขั้นตอนใด</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around end">
                <mat-card class="right-chat">กำลังผลิตครับ</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around start">
                <mat-card class="left-chat">โอเคครับ</mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around end">
                <mat-card class="right-chat">ครับ</mat-card>
            </div>

        </div>




        <div fxLayout=" row" fxLayoutAlign="center end">
            <mat-form-field class="send" appearance="outline">
                <mat-label>Types something</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </div>

        <!-- <span class="all">ไม่มีข้อความเข้ามาใหม่</span> -->
    </mat-drawer-content>
    <mat-drawer #drawer class="right-panel" mode="side" position="end" opened="true" fxLayout="column"
        fxLayoutAlign="start center">

        <mat-toolbar class="basic">
            <button mat-icon-button class="example-icon">
                <mat-icon>home</mat-icon>
                <span>
                    <strong>ข้อมูลผู้ติดต่อ</strong>
                </span>
            </button>
        </mat-toolbar>

        <div *ngIf="drawerevnt">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle(false)">
                <mat-icon aria-label="sidenav toggle icon">keyboard_tab</mat-icon>
            </button>
        </div>


        <div fxLayout="row" fxFlexAlign="center">
            <img class="userlogo"
                src="https://i.guim.co.uk/img/media/dd703cd39013271a45bc199fae6aa1ddad72faaf/0_0_2000_1200/master/2000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=178a9434c272d5a067353f57a30f58ed"
                alt="">
        </div>
        <div class="contactName">
            <strong>
                pikachu
            </strong>
            <mat-icon>create</mat-icon>
        </div>
        <div class="addtage">
            + Add Tage
        </div>
        &nbsp;
        <hr>
        <!-- <hr> -->
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="start" fxFlex="90">
                &nbsp;<span>
                    <strong>
                        &nbsp;&nbsp;Note
                    </strong>
                </span>
            </div>
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="20">
                <button mat-icon-button [routerLink]="['/note']" routerLinkActive="router-link-active">
                    <mat-icon class="addbutton">add_circle_outline</mat-icon>
                </button>
            </div>




            <!-- <div *ngIf="layout?.table">

                <app-tablebase [dataSource]="chatMasterService.onDataChangedObservable$ | async | filter:search"
                    [table]="layout.table" (onEditRow)="onEdit($event)" (onDeleteRow)="onDelete($event)"
                    (onDetailRow)="onDetail($event)"></app-tablebase>

            </div> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <p class="note">
                หากคุณต้องเพิ่มโน้ตให้กดที่ปุ่ม +
            </p>
        </div>



    </mat-drawer>
</mat-drawer-container>