.mat-drawer-container {
    width: 100%;
    min-height: calc(100vh - 105px);
  
    .left-panel {
      padding: 10px;
      width: 23%;
    }
  
    .right-panel {
      width:23%;
    }
  
    .content-panel {
      widows: 54%;
      
    }
    .Header{
        height: 35px;
        padding-top: 5px;
        border-width: 10px
    }
    .search{
        width: 150px;
        height: 20px;
        margin-bottom: 2px;
        margin-left: 30px;
        
    }
    .NameChat{
        background-color:white;
        height: 60px;
        // padding-top: 5px;
        border-color: black;
        border-width: 30px;
    }
      .app-logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
        border-color: black;
      }
      .Pikachu{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // margin-bottom: 5px;
       
      }
      .userlogo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 80px;
        margin-left: 80px;
        border-color: black;
      }
      .date{
          font-size: 14px;
          color:dimgray
      }
      .chat{
        font-size: 14px;
        color:dimgray
      }
      .example-icon{
          text-align: left;
      }
      .toolbar{
        height: 40px;
        background-color: white;
      }
      .basic{
          height: 30px;
          background-color: white;
      }
      .lasttext{
          font-size: 10px;
          margin-top: 40px;
          margin-left: 20px;

      }
      
      .contactName{
        text-align: center;
      }
      .send{
       
        width: 650px
      }
  }
  